@model grad2021.Models.StudentTransfer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentNatId" class="control-label"></label>
                <input asp-for="StudentNatId" class="form-control" />
                <span asp-validation-for="StudentNatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthPlace" class="control-label"></label>
                <input asp-for="BirthPlace" class="form-control" />
                <span asp-validation-for="BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Gender))))
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label"></label>
                <input asp-for="EnrollmentDate" class="form-control" />
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatNo" class="control-label"></label>
                <input asp-for="SeatNo" class="form-control" />
                <span asp-validation-for="SeatNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelName" class="control-label"></label>
                @Html.DropDownListFor(model => model.LevelName, new SelectList(Enum.GetValues(typeof(LevelName))))
                <span asp-validation-for="LevelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchName" class="control-label"></label>
                <select asp-for="BranchName" class="form-control" asp-items="ViewBag.BranchName">
                    <option value="الرياضيات والفيزيقا الهندسية">الرياضيات والفيزيقا الهندسية</option>
                    <option value="الهندسة المدنية">الهندسة المدنية</option>
                    <option value="الهندسة المعمارية">الهندسة المعمارية</option>
                    <option value="هندسة القوى والآلات الكهربية">هندسة القوى والآلات الكهربية</option>
                    <option value="هندسة الإلكترونيات والاتصالات الكهربية">هندسة الإلكترونيات والاتصالات الكهربية</option>
                    <option value="هندسة الحاسبات والنظم">هندسة الحاسبات والنظم</option>
                    <option value="الهندسة الميكانيكية">الهندسة الميكانيكية</option>
                    <option value="هندسة الإنتاج والتصميم الميكانيكي">هندسة الإنتاج والتصميم الميكانيكي</option>
                    <option value="الهندسة الصناعية">الهندسة الصناعية</option>
                    <option value="هندسة القوى الميكانيكية">هندسة القوى الميكانيكية</option>
                </select>
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
