@page
@model ForgotPasswordConfirmation
@{
    //ViewData["Title"] = "Forgot password confirmation";
    ViewData["Title"] = "Incorrect Username";
}

<h1>@ViewData["Title"]</h1>
<p>
    <!--Please check your email to reset your password.-->
    The username is not correct
</p>

